@{
    ViewData["Title"] = "University Rankings";
}
@model List<IndicatorVM>
<div class="text-center">
    <h3 class="display-5">Университет</h3>
    <h4 class="display-5">@Model[0].UniversityName</h4>
</div>
<div style=" display: flex; justify-content: center;">
    <form method="post" asp-action="UpdateIndicator" asp-controller="Home" id="indicatorForm">
        <table>
            <tr>
                <th>Показатель</th>
                <th>Значение</th>
                <th>Показатель</th>
                <th>Значение</th>
                <th>Показатель</th>
                <th>Значение</th>
            </tr>
            @for (int i = 0; i < Model.Count; i+=3)
            {
                
                <tr>
                @if(i < Model.Count)
                {
                    <td>@Model[i].IndicatorName</td>
                    <td><input  asp-for="@Model[i].Value" value="@Model[i].Value" class="indicatorInput" /></td>
                }
                else { <td></td><td></td>}
                @if(i+1 < Model.Count)
                {
                    <td>@Model[i+1].IndicatorName</td>
                    <td><input  asp-for="@Model[i+1].Value" value="@Model[i+1].Value" class="indicatorInput" /></td>
                }
                else { <td></td><td></td>}
                @if(i+2 < Model.Count)
                {
                    <td>@Model[i+2].IndicatorName</td>
                    <td><input  asp-for="@Model[i+2].Value" value="@Model[i+2].Value" class="indicatorInput" /></td>
                }
                 else { <td></td><td></td>}
                </tr>
            }
            <tr>
                <td colspan ="3" style=" text-align:center;"><input type="button" value="Расчитать" onclick="submitIndicators()" /></td>
                <td colspan ="3"><input type="submit" value="Cохранить" onclick="submitIndicators()" /></td>
            </tr>
        </table>
    </form>
</div>
@section Scripts
{ 
    <script>
        function submitIndicators() {
            let indicatorForm = document.getElementsByClassName("valueIndicator");
            let indicatorFormValue = [];
            for (var i = 0; i < indicatorForm.length; i++) {
                indicatorFormValue[i] = indicatorForm[i].value;
            }
            alert(indicatorFormValue[0]);

            $.ajax({
                url: "http://" + ip_sel_list + ":" + pt_sel_list + "/poct",
                mode: 'no-cors',
                type: "POST",
                contentType: "applicattion/json",
                dataType: "json",
                data: JSON.stringify({ dates: indicatorFormValue}),
                success: function (message) {
                    if (message["message"] == 'good') {
                        console.log('Слушатель принял что-то');
                    } else {
                        console.log('Слушатель не принял что-то');
                    }
                }
            });
        }
    </script>
} 